:root {
    background-color: #f0f0f0
}

body {
    background-size: 100%, 255px;
    background-repeat: repeat-y, repeat;
    background-position-y: 5%;
}

/* Don't load image that user won't see */
@media screen and (min-width: 775px) and (max-width:1000px) {
    body {
        background-image: url("Images/Donuts1x.png"), url("Images/BlueNoise.png");
    }
}

@media screen and (min-width: 1000px) {
    body {
        background-image: url("Images/Donuts2x.png"), url("Images/BlueNoise.png");
    }
}

#content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

header {
    padding: 5px 25px 45px 25px;
    background-image: url("Images/Icing.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: top;
}

@media screen and (max-width: 285px) {
    header {
        background-size: cover;
    }
}

.title {
    text-align: center;
    font-size: 250%;
    letter-spacing: 2%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#vidContainer {
    text-align: center
}

.wordlogo {
    margin-left: 9px;
    margin-top: 10px;
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 50px
}

.game_container {
    display: block;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px 15px 15px 10px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left calc(100% - 20px) top calc(100% - 20px);
    background-size: min(11vw, 75px);
    border-style: none;
    user-select: none;
    text-decoration: none;
    background-color: #e1e1e1;
    transition: background-color .5s;
    box-shadow: 1px 1px 2px #888
}

@media screen and (min-width:100px) {
    #leveleditor {
        background-image: url("Images/GameIcons/LevelEditor.png")
    }

    #bubblewrap {
        background-image: url("Images/GameIcons/BubbleWrap.png")
    }

    #cookie {
        background-image: url("Images/GameIcons/Cookie.png")
    }

    #wordfall {
        background-image: url("Images/GameIcons/Wordfall.png")
    }

    #wordguess {
        background-image: url("Images/GameIcons/WordGuess.png")
    }
}

.game_container:focus,
.game_container:hover {
    transition: background-color .5s;
    border-radius: 10px;
    text-decoration: none;
    background-color: #6ebdf2;
    box-shadow: 1px 1px 5px #888
}

#games {
    font-size: 200%;
    margin: 12px 12px 12px 0
}

.learn_more {
    display: block;
    font-size: 115%;
    margin-top: 8px
}

.game_image {
    border-radius: 5px;
    position: relative
}

h3 {
    margin: 0;
    font-size: 1.5em
}

.game_name {
    font-size: 200%;
    margin: 10px;
    font-family: Roboto;
    font-weight: 500
}

.game_description {
    font-size: 125%;
    margin-left: 10px;
    width: calc(100% - 90px);
    color: #000;
    margin-top: 15px;
    margin-bottom: 10px
}

.badge,
.play_link {
    display: block;
    padding-bottom: 5px;
    margin-left: 10px;
    font-size: 175%;
    width: 210px
}

.otherGameLinks,
.skill-items,
.social-media-links {
    list-style-type: none;
    padding: 0
}

#about_abstract {
    font-size: 1.25em;
    margin-bottom: 0
}

.about {
    font-size: 1.09em
}

#videoPlayer {
    width: 100%;
    max-width: 600px;
    height: 340px
}

#more-flex {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px
}

#skills-container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px
}

#skill-container-1 {
    flex: 60%
}

#skill-container-2 {
    flex: 40%
}

.skill-heading {
    margin: 0;
    font-size: 1.25em;
    color: #0e233d;
    font-weight: 700
}

.skill-items {
    margin-top: 10px
}

.skill-items li {
    margin: 5px 0
}

.otherGameLinks li,
.social-media-links li {
    margin: 10px 0
}

.social-media-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: 700
}

.otherGameLinks a {
    font-weight: 700;
    text-decoration: none
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 10px
}

@media screen and (max-width:450px) {

    #more-flex,
    #skills-container {
        flex-direction: column
    }
}

@media screen and (max-width:270px) {
    #email-address {
        font-size: .8em;
        word-break: break-all
    }
}