:root {
    background-color: rgb(240, 240, 240);
}

body {
    background: linear-gradient(0deg, rgba(10, 108, 172, 1) 0%, rgba(62, 168, 238, 1) 100%);
    background-repeat: no-repeat;
}

#vidContainer {
    text-align: center;
}

.wordlogo {
    margin-left: 9px;
    margin-top: 10px;
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 50px;
}

.game_container {
    text-align: left;
    width: 100%;
    transition: background-color 0.5s ease;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 15px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left calc(100% - 20px) top calc(100% - 20px);
    background-size: min(11vw, 75px);
    border-style: none;
    user-select: none;
}

@media screen and (min-width: 100px) {
    #leveleditor {
        background-image: url(/leveleditor/Icon.png);
    }

    #bubblewrap {
        background-image: url(/bubblewrap/Icon.png);
    }

    #breaddash {
        background-image: url(/breaddash/Icon.png);
    }

    #cookie {
        background-image: url(/Images/Cookie.png);
    }

    #wordguess {
        background-image: url(/Images/WordGuessIcon.png);
    }
}

.game_container:hover {
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

.game_container:focus {
    transition: background-color 0.5s ease;
    border-radius: 10px;
}



#games {
    font-size: 200%;
    margin: 12px;
    margin-left: 0px;
}

.learn_more {
    display: block;
    font-size: 115%;
    margin-top: 8px;
}

.game_image {
    border-radius: 5px;
    position: relative;
}

h3 {
    margin-top: 30px;
    font-size: 1.5em;
}

.game_name {
    font-size: 200%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    margin: 10px;
    font-family: 'Roboto';
    font-weight: 500;
}

.game_description {
    font-size: 150%;
    margin-left: 10px;
    width: calc(100% - 90px);
}

.play_link {
    display: block;
    padding-bottom: 5px;
    margin-left: 10px;
    font-size: 175%;
    width: 210px;
}

.badge {
    display: block;
    padding-bottom: 5px;
    margin-left: 10px;
    font-size: 175%;
    width: 210px;
}

#about_abstract {
    font-size: 1.25em;
    margin-bottom: 0px;
}

.about {
    font-size: 1.09em;
}

#videoPlayer {
    width: 100%;
    max-width: 600px;
    height: 340px;
}

/* colour styling */

.game_container {
    background-color: rgb(225, 225, 225);
    transition: background-color 0.5s ease;
    box-shadow: 1px 1px 2px #888888;
}

.game_container:hover {
    background-color: #6ebdf2;
    box-shadow: 1px 1px 5px #888888;
}

.game_container:focus {
    background-color: #6ebdf2;
    box-shadow: 1px 1px 5px #888888;
}

/* Links */
.social-media-links {
    list-style-type: none;
    padding: 0;
}

.social-media-links li {
    margin: 10px 0;
}

.social-media-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
}

.otherGameLinks {
    list-style-type: none;
    padding: 0;
}

.otherGameLinks li {
    margin: 10px 0;
}

.otherGameLinks a {
    font-weight: bold;
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}