body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

#content {
    max-width: 750px;
    display: table;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

header {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header_container {
    height: 50px;
    text-align: left;
}

.logo {
    width: 50px;
    height: 50px;
    display: inline;
}

.title {
    font-size: 200%;
    display: inline;
    line-height: 50px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    bottom: 25%;
    margin-left: 15px;
    font-weight: 400;
}

main {
    padding: 25px;
    /* width: 100%; */
}

#main_head {
    font-size: 200%;
}

#main_text {
    margin-top: 0px;
    font-size: 150%;
}

h2 {
    font-size: 175%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

h4 {
    font-size: 110%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.big_play_link {
    display: block;
    padding-bottom: 5px;
    font-size: 200%;
}

.image_gallery {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    /* max-width: 750px; */
    /* width: 90%; */
    width: 750px;
    max-width: 82vw;
    overflow-x: auto;
    user-select: none;
}

.gallery_img {
    display: inline;
    height: 150px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    /* user-select: none; */
}

.gallery_img_vertical {
    height: auto;
    width: 100px;
    /* border: white 1px solid; */
    margin: 1px;
}

#about_link {
    font-size: 90%;
}

#profile {
    width: 100px;
    display: inline;
}

.full_width {
    max-width: 80vw;
    width: 750px;
}

/* Footer */

footer {
    text-align: center;
    /* height: 100px; */
    max-width: 750px;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 3px 0px
}

#footer_content {
    display: table;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fineprint {
    display: block;
    text-align: center;
    margin: 10px;
}

#footer_links {
    display: block;
}

/* THEMING */
/* Light mode isn't in @media because it doesn't work on internet explorer lol */

body {
    background-color: rgb(230, 230, 230);
    color: black;
}

header {
    background-color: rgb(240, 240, 240);
}

main {
    background-color: rgb(245, 245, 245)
}

footer {
    background-color: rgb(240, 240, 240);
}