html {
    --heading-font: "Atkinson Hyperlegible Next", sans-serif;
    --heading-colour: #03022d;

    --body-font: "Roboto", sans-serif;
    --body-colour: black;
}

body {
    margin: 0px;
    font-family: var(--body-font);
    color: var(--body-colour);
}

#content {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(245, 245, 245)
}

header {
    padding: 5px 25px 45px 25px;
    background-image: url("Images/Icing.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: top;
}

.title {
    text-align: center;
    font-size: 250%;
    letter-spacing: 2%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    padding: 25px;
}



.subheading {
    margin-top: 0px;
    font-size: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--heading-colour);
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

h4 {
    font-size: 110%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.big_play_link {
    display: block;
    padding-bottom: 5px;
    font-size: 200%;
}

.image_gallery {
    margin: 0;
    padding: 0;
    white-space: nowrap;

    max-width: 700px;
    width: 100vw;
    overflow-x: auto;
    user-select: none;
}

.gallery_img {
    display: inline;
    height: 150px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    /* user-select: none; */
}

.gallery_img_vertical {
    height: auto;
    width: 100px;
    /* border: white 1px solid; */
    margin: 1px;
}

#about_link {
    font-size: 90%;
}

#profile {
    width: 100px;
    display: inline;
}

.full_width {
    max-width: 80vw;
    width: 750px;
}

/* Footer */

footer {
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 3px 0px
}

#footer_content {
    display: table;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fineprint {
    display: block;
    text-align: center;
    margin: 10px;
}

#footer_links {
    display: block;
}

#footer_links a {
    margin-right: 10px;
}