#leveleditorname {
    max-width: 90%;
    height: auto;
}

#main_text {
    font-size: 170%;
}

#leveledior_imagelink {
    height: auto;
    width: 700px;
    max-width: 75vw;
    cursor: pointer;
}

#long_description {
    width: 750px;
    max-width: 82vw;
}