#leveleditorname {
    width: 100%;
    max-width: 500px;
    height: auto;
}

#head_text {
    font-size: 170%;
}

#shoulder_text {
    font-size: 115%;
}

#long_description {
    width: 750px;
    max-width: 82vw;
}

#link_heading {
    font-size: 140%;
}

#leveledior_imagelink {
    height: auto;
    width: 700px;
    max-width: 75vw;
    cursor: pointer;
}

.gallery_img {
    height: 200px;
}